<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  </head>
  <body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
        <ul class="nav navbar-nav">
            <a class="navbar-brand" href="/instructions">NWA</a>
            <li><a href="/">Home</a></li>
            <li><a href="/instructions">Instructions</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="/createuser">Create User</a></li>
            <li><a href="/deleteuser">Delete User</a></li>
            <li><a href="/data">Data</a></li>
            <li><a href="/auth/logout">Logout</a></li>
          </ul>
      </nav>
