<%- include partials/header.ejs %>
<div class="jumbotron">
    <div class="container">
        <h1>Neighborhood Assessment Watch</h1>
        <p>Here is where you can start a new assessment watch for your selected neighborhood. Please click the button below to begin your new assessment.</p>
        <p><a class="btn btn-primary btn-lg" href="/map" role="button">Start a New Assessment &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="container">
    <div class="col-md-6"><h4>Welcome to your Neighborhood Assessment Watch Application. To understand how to use this application, keep reading. If you would like to track your data and look at other data on certain neighborhoods, then click Data in the header. To input your own data and information then click Map. The map that is above the form, automatically locates where you are and keeps track of that while you input your information into the form.</h4></div>
        <div class="container">
        <div class="col-md-6"><h4>Once you submit your form and map location, it gets inputted into the Data system for other admins to see. If you would like to create a user then you click, Create User in the header. This user then gets created and inputted into the Delete User section of the header. If you would like to then delete a user, you click Delete User in the header and click delete beside their name. Once you are finished inputted your data, you are able to logout.</h4></div>
</div>
</div>
    </div>
<%- include partials/footer.ejs %>